/* ----------------head--------------- */
header {
    background-color: #4c8dcd;
  text-align: center;
}


header strong {
  color: white;
  }

figure {
  padding: 0 0px 0px 0px;
  border: 0px;
  margin: 0
}

header img {
  width:100%;
  height:100%;;
    display: flex;
justify-content: center;
  }





html {
    background-color: #fdd116 ;
  }
/* ----------------body--------------- */
body {
  width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding:  0px 0px 0px;
  border: 0px solid black;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: content-box;
  width : 60%;
  height :100%;
}

article {
  width: 50%;
}
h1 {
  color: #fdd116;
}

nav{
  color: #ffffff;  
  background-color: #4c8dcd;
    box-sizing: content-box;
    width: 25%;
    height: 50%;
    padding: 0 10px 10px 10px;
    border: 5px solid rgb(255, 255, 255);
}



main {
    display: flex;
    background-color: #ffffff;
    padding: 1 150px 0px 0px;
    border: 0px solid black;
    display : flex;
flex-direction: row;

  }


aside {
    text-align: center;
    color: #ffffff;
    width: 25%;
    margin-top: 10px;
    background-color: #4c8dcd;
    padding: 0 10px 10px 10px;
    border: 20px solid rgb(255, 255, 255);
    
}

aside img {
  margin-top: 10px;
    width: 100px;
}

figure {
    padding: 0 0px 0px 0px;
    
}
  
/* ----------------footer------------- */

